* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heu: 240;
  --bg-color: hsl(var(--heu), 0%, 100%); 
  --text-color: hsl(var(--heu), 6%, 21%);
  --cards-bg-color: hsl(var(--heu), 9%, 89%);
  --cards-secondary-color: hsl(194, 97%, 31%);

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.dark {
  --bg-color: hsl(var(--heu), 8%, 8%);
  --text-color: hsl(var(--heu), 0%, 100%);
  --controls-bg-color: hsl(var(--heu), 9%, 89%);
}

html.dark .ph-moon,
html:not(.dark) .ph-sun {
  display: none;
}

#toggle-mode {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  font-size: 3rem;
  line-height: 0;

  color: var(--text-color);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}
  
body {
  background-color: var(--bg-color);
  color: var(--text-color);

  display: grid;
  height: 100vh;
  place-content: center;
}

.container {
  display: flex;
  gap: 12rem;
}

.flex{
  display: flex;
}

button {
  background-color: transparent;
  border: 0;
  
  cursor: pointer;
}

#app {
  display: grid;
  justify-items: center;
  place-content: center; 
}

#timer {
  font-size: 8rem;
  font-weight: 500;
  line-height: normal;
  font-family: roboto;

  place-self: center;
}

#controls {
  display: flex;
  gap: 2.5rem;
  
  margin-top: 1.06rem;
}

#controls img {
  width: 3rem;
  height: 3rem;
}

#sounds {
  display: grid;
  grid-template-areas:
  "A B"
  "C D";
  gap: 2rem;
}

#sounds img {
  width: 4rem;
  height: 4rem;
}

.card {
  width: 8.6rem;
  height: 9.5rem;
  flex-shrink: 0;

  background-color: var(--cards-bg-color);

  border-radius: 1.5rem;
} 

.secondary {
  background-color: var(--bg-color);
}
